.newBookCardDiv, .formDiv{
  border: 3px solid white;
  margin-bottom: 30px;
  text-align: center;
  padding: 30px;
  
}

.newBookCardDiv{
  background-color: rgb(126, 109, 169);
}

input{
  margin-bottom: 20px;
}

img{
  width: 30%
}

